{% load static %}

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static "images/image1.png" %}" width="100%">
            </div>
            <div class="col-2">

                {% if messages %}
                    <div class="message-container" >
                        {% for message in messages %}
                        <div class="message-container" style="
                        background: #fff;
                        width: 300px;
                        height: fit-content !important;
                        position: relative;
                        text-align: center;
                        padding: 20px 0;
                        margin: auto;
                        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
                        overflow: hidden;
                    ">
                    <li style="list-style-type: none;" class="{{ message.tags }}">{{ message }}</li>
                    </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-container" style="height: 450px;">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator" style="transform: translateX(100px);">
                    </div>

                    <form id="LoginForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="text" name="username" required placeholder="Username">
                        <input type="password" name="password" required placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="text" name="username" maxlength="10" minlength="3" required placeholder="Username">
                        <input type="email" name="email" required placeholder="Email">
                        <input type="password" name="password" minlength="6" required placeholder="Password">
                        <input type="text" name="address" minlength="5" required placeholder="Address">
                        <input type="text" name="phone" minlength="5" required placeholder="Phonenumber">
                        <button type="submit" name="register" maxlength="" required class="btn">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


{% comment %} 
 
 {% endcomment %}